<h3>Dia: {{ $ctrl.date | date: 'dd/MM/yyyy HH:mm:ss (EEEE)'}}</h3>
<hr />
<h1>{{ $ctrl.title }}</h1>
<hr />
<h2>{{ $ctrl.formtitle }}</h2>

<form ng-submit="$ctrl.add($ctrl.form)">
    <input type="text" data-ng-model="$ctrl.form.name" data-ng-required="true" placeholder="Nome"/>
    <input type="tel" data-ng-model="$ctrl.form.phone" data-ng-required="true" placeholder="Telefone"/>
    <input type="email" data-ng-model="$ctrl.form.email"  data-ng-required="true" placeholder="E-mail"/>
    <button type="submit">Criar novo contato</button>
</form>

<hr />

<h2>{{ $ctrl.listTitle }}</h2>

<input type="text" data-ng-model="search"  placeholder="Pesquisar nome">

<table>
    <thead>
        <tr>
            <th><a href="" data-ng-click="$ctrl.orderedBy('name')">Nome</a></th>
            <th><a href="" data-ng-click="$ctrl.orderedBy('phone')">Telefone</a></th>
            <th><a href="" data-ng-click="$ctrl.orderedBy('email')">E-mail</a></th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="item in $ctrl.listContact | filter:search | orderBy: $ctrl.orderResult:$ctrl.orderWay">
            <td data-ng-bind="item.name | uppercase"></td>
            <td data-ng-bind="item.phone"></td>
            <td data-ng-bind="item.email"></td>
            <td>
                <button data-ng-click="$ctrl.editContact(item,$index)">Editar</button>
                <button data-ng-click="$ctrl.delContact(item)">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>

<!-- <h1>{{ $ctrl.hello }}</h1>

<input type="text" data-ng-model="$ctrl.person.name" placeholder="Nome"/>
<input type="text" data-ng-model="$ctrl.person.lastname" placeholder="Sobrenome"/>
<input type="submit" data-ng-click="$ctrl.alertName()"/>
<hr />
{{$ctrl.person.name}}  {{$ctrl.person.lastname}}
<hr />
<br />
Uso Factory<br />
<input type="number" data-ng-model="num1">
<input type="number" data-ng-model="num2"><br />
<input type="submit" data-ng-click="$ctrl.sum(num1,num2)" value="Somar"/>
<input type="submit" data-ng-click="$ctrl.sub(num1,num2)" value="Subtrair"/>
<hr />
<br />
Uso Service<br />
<input type="number" data-ng-model="num3">
<input type="number" data-ng-model="num4"><br />
<input type="submit" data-ng-click="$ctrl.mul(num3,num4)" value="Multiplicar"/>
<input type="submit" data-ng-click="$ctrl.div(num3,num4)" value="Dividir"/>
<hr />
<br />
<ul>
    <li data-ng-repeat="item in $ctrl.listPerson">
        <p>{{item.name}}</p>
        <p data-ng-bind="item.lastname"></p>
    </li>
</ul>

<app-directive name="Claudio" lastname="Silva"></app-directive>

 <div app-directive></div>

<hero></hero> -->